<form class="mt-4" [formGroup]="addForm">
    <!-- email -->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" [(ngModel)]="userObj.email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
    </div>
  <br>
    <!-- password -->
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" [(ngModel)]="userObj.password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
    </div>
<br>
    <!-- name -->
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="name" [(ngModel)]="userObj.name" class="form-control" id="name" placeholder="name" formControlName="name">
        </div>
    </div>
<br>
    <!-- lastname -->
    <div class="form-group row">
        <label for="lastname" class="col-sm-2 col-form-label">Lastame</label>
        <div class="col-sm-10">
            <input type="lastname" [(ngModel)]="userObj.lastname" class="form-control" id="lastname" placeholder="lastname" formControlName="lastname">
        </div>
    </div>
    <button type="button" class="btn btn-success mt-4" (click)="updateUser()">Update</button>
</form>
