<button  type="button" class="btn btn-warning mt-2" (click)="addUser()">Add User</button>
<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody *ngIf="users">
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger mt-1 mx-2">delete</button>
            <button type="button" class="btn btn-info mt-1 mx-5" (click)="updateUser()">Update</button>
        </tr>
    </tbody>
</table>